 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

 <div class="grid-row">
    <div class="column-two-thirds">

         <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Your income and regular money</p>
                <h1 class="page-header--lede heading-large">Did Jobcentre Plus say that you were not capable of working and did not have to send in sick notes before 27 October 2008?</h1>
            </header>

  
      <form action="sicknote-handler" method="get" class="form">
                 <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
              Are you sending fit notes to your local Jobcentre?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="sicknote" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="sicknote" value="no">
              <label for="no">No</label>
            </div>
            
          </fieldset>  
          
        </div>



  <!-- submit button -->
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
<!-- 

    <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p> -->

      </form>

    </div>

  </div>
    </div>
    </div>
</main>

{% endblock %}
