 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">


       <header class="page-header">
          <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>About where you live</p>
           {% if thirdparty %}
          <h1 class="page-header--lede heading-large">Is {firstname} a student living away from home?</h1>
          {% else %}
          <h1 class="page-header--lede heading-large">What is the start and end dates of your rental agreement? </h1>
          {% endif %}
      </header>


      <form action="live_rent_student-amount-total" method="post" class="form">

<div class="form-group">
    <fieldset>
      <legend>
        <span class="form-label-bold">
          Start date
        </span>
      </legend>
      <div class="form-date">
        <div class="form-group form-group-day">
          <label class="form-label" for="registration-number-day">Day</label>
          <input class="form-control" id="registration-number-day" name="vehicle-registration" pattern="[0-9]*" type="number" value="{{data['vehicle-registration']}}">
        </div>
        <div class="form-group form-group-month">
          <label class="form-label" for="registration-number-month">Month</label>
          <input class="form-control" id="registration-number-month" name="vehicle-registration2" pattern="[0-9]*" type="number" value="{{data['vehicle-registration2']}}">
        </div>
        <div class="form-group form-group-year">
          <label class="form-label" for="registration-number-year">Year</label>
          <input class="form-control" id="registration-number-year" name="vehicle-registration3" pattern="[0-9]*" type="number" value="{{data['vehicle-registration3']}}">
        </div>
      </div>
    </fieldset>
  </div>
<div class="form-group">
    <fieldset>
      <legend>
        <span class="form-label-bold">
          End date
        </span>
      </legend>
      <div class="form-date">
        <div class="form-group form-group-day">
          <label class="form-label" for="registration-number-day2">Day</label>
          <input class="form-control" id="registration-number-day2" name="vehicle-registration4" pattern="[0-9]*" type="number" value="{{data['vehicle-registration4']}}">
        </div>
        <div class="form-group form-group-month">
          <label class="form-label" for="registration-number-month2">Month</label>
          <input class="form-control" id="registration-number-month2" name="vehicle-registration5" pattern="[0-9]*" type="number" value="{{data['vehicle-registration5']}}">
        </div>
        <div class="form-group form-group-year">
          <label class="form-label" for="registration-number-year3">Year</label>
          <input class="form-control" id="registration-number-year3" name="vehicle-registration6" pattern="[0-9]*" type="number" value="{{data['vehicle-registration6']}}">
        </div>
      </div>
    </fieldset>
  </div>
            <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
        </form>
        </div>
    </div>
</main>

{% endblock %}
