 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

 <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
          <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is</span>Before you start</p>
          <h1 class="page-header--lede heading-large">How much cash do you get {every week}?</h1>
        </header>

<!--
<p>Tell us the amount they get before tax and national insurance are taken off (gross amount).</p>

      <form action="" method="" class="form">
          <fieldset>
            <legend class="visually-hidden">
How much does {first name} get paid {every week}?</legend>-->


<p class="form-hint">The amount must include pence. For example, £10.50</p>

<span class="heading-medium">£</span> <input class="form-control form-control-1-4" id="pay" type="text" name="ni-number">
<br><br><br>
<p>
          <a class="button" href="only-incomer2" id="next">Next</a>
        </p>
      
<!-- 

    <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p> -->


      </form>

    </div>

  </div>
</main>



{% endblock %}

