{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}


<main id="content" role="main">
    <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

            <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Before you start</p>
                <h1 class="page-header--lede heading-large"></h1>
            </header>

<!-- keep eye on this in first round of testing
  <p>paid job etc</p> -->



        
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

      </form>


    </div>
    </div>

</main>
{% endblock %}

