 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

          <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This is pre-application overview for </span>Apply for help with NHS costs</p>
            <h1 class="page-header--lede heading-large">Check your answers</h1>
          </header>

       
       
    <table id="review-table-one">


      <tr>
        <td>Partner</td>
        <td class="bold">Yes</td>
        <td><a href="">Change</a></td>
      </tr>
      <tr>

      <tr>
        <td>Claiming benefits or tax credits</td>
        <td class="bold">No</td>
        <td><a href="">Change</a></td>
      </tr>

      <tr>
        <td>Income from jobs, trusts or charities</td>
        <td class="bold">No</td>
        <td><a href="">Change</a></td>
      </tr>

      <tr>
        <td>Savings and investments</td>
        <td class="bold">Less than £6,000</td>
        <td><a href="">Change</a></td>
      </tr>

      <tr>
        <td>Studing postgraduate or higher</td>
        <td class="bold">No</td>
        <td><a href="">Change</a></td>
      </tr>
     
    </table>

<br><br>
        <p>
          <a class="button" href="save-return-question" id="next">Next</a>
        </p>


  </div>
  </div>
  </div>



</main>

{% endblock %}