  {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">


                   <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Education and training</p>
  
            <h1 class="page-header--lede heading-large">Tell us about any money you get to help you study</h1>
            </header>

<br>
    <p>Tell us about things like:</p>
     <ul class="list list-bullet">
   <li>the amount of money you get</li>
   <li>who you gives you the money</li>
   <li>why you get it, for example, a hardship fund</li>
    </ul>
<div class="form-group">
  <label class="form-label" for="textarea">

  </label>
  <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
</div>

        
        <p>
          <a class="button" href="uni-autocomplete" id="next">Next</a>
        </p>

    </div>
    </div>
</main>

{% endblock %}

















