 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
  .check-your-answers td {
    font-size: 19px;
    line-height: 1.31579;
}
.check-your-answers td {
    font-weight: 400;
    text-transform: none;
    line-height: 1.25;
    vertical-align: top;
}
.bold {
  font-weight: 700;
}
</style>

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">

          <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Apply with NHS costs</p>
            <h1 class="page-header--lede heading-large">Check your answers</h1>
          </header>

<!-- <p class="panel panel-border-wide">You’re applying for help with NHS costs on behalf of:</p> -->
<table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium" style="margin-top:0em">
            Education or training
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>
          Course higher than A-level
        </td>
        <td class="bold">
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">whether you are in education or training</span>
          </a>
        </td>
      </tr>
            <tr>
        <td>
          Final or one year course
        </td>
        <td class="bold">
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">whether you are in education or training</span>
          </a>
        </td>
      </tr>
                  <tr>
        <td>
          Name of school, college or university
        </td>
        <td class="bold">
          Teeside University
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">whether you are in education or training</span>
          </a>
        </td>
      </tr>
                        <tr>
        <td>
          Financial help to study
        </td>
        <td class="bold">
          Student loan or maintenance grant
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">whether you are in education or training</span>
          </a>
        </td>
      </tr>
                              <tr>
        <td>
          Loan provider
        </td>
        <td class="bold">
          Student Finance England
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">whether you are in education or training</span>
          </a>
        </td>
      </tr>
                                    <tr>
        <td>
          Loan amount
        </td>
        <td class="bold">
          £8,700
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">whether you are in education or training</span>
          </a>
        </td>
      </tr>
                                          <tr>
        <td>
          Money from parents
        </td>
        <td class="bold">
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">whether you are in education or training</span>
          </a>
        </td>
      </tr>
                                          <tr>
        <td>
          Other money to help study
        </td>
        <td class="bold">
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">whether you are in education or training</span>
          </a>
        </td>
      </tr>

    </tbody>
  </table>
       

<br><br>
        <p>
          <a class="button" href="../task-list/task-list_4" id="next">Next</a>
        </p>


  </div>
  </div>
  </div>



</main>

{% endblock %}