  {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">


                   <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Education and training</p>
  
            <h1 class="page-header--lede heading-large">Where do you live when you're studying?</h1>
            </header>

<br>

<!-- <details>

  <summary><span class="summary">Courses that are higher than A level</span></summary>
  <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">

          
        </div>
            </details> <br> -->

<!-- <p><a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">Courses higher than A level qualifications</a> (opens in new window)</p> -->

<form>

       <div class="form-group">
          
          <fieldset class="">
            <legend class="visually-hidden">
              Do you live with a partner?
            </legend>

            <div class="multiple-choice">
              <input id="eng" type="radio" name="wholoan" value="eng">
              <label for="eng">In your parents or guardians home</label>
            </div>

            <div class="multiple-choice">
              <input id="wales" type="radio" name="wholoan" value="wales">
              <label for="wales">In my own accomodation, in London</label>
            </div>

                        <div class="multiple-choice">
              <input id="scot" type="radio" name="wholoan" value="scot">
              <label for="scot">In my own accomodation, outside of London</label>
            </div>
            
          </fieldset>  
        

      </form>
      <br><br>
        <p>
          <a class="button" href="parent-money" id="next">Next</a>
        </p>
    </div>
    </div>
</main>

{% endblock %}

















