  {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">


                   <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Education and training</p>
  
            <h1 class="page-header--lede heading-large">We need further information</h1>
            </header>

<br>
<p>We will contact you soon, as we need to see evidence of your overseas grants, loans or stipends.<br>You can either email or post us a copy of your award notice.</p> 
<p>If your award notice is not written in English, please translate it.</p>
        
        <p>
          <a class="button" href="term-dates" id="next">Next</a>
        </p>

      </form>
    </div>
    </div>
</main>

{% endblock %}

















