  {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">


                   <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Education and training</p>
  
            <h1 class="page-header--lede heading-large">Are you doing a course that is higher than A level, Scottish Highers or equivalent?</h1>
            </header>

<br>

<!-- <details>

  <summary><span class="summary">Courses that are higher than A level</span></summary>
  <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">

          
        </div>
            </details> <br> -->
<!-- 
<p><a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">Courses higher than A level qualifications</a> (opens in new window)</p> -->

<form action="alevel-handler" method="get" class="form">

       <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
              Do you live with a partner?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="alevel" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="alevel" value="no">
              <label for="no">No</label>
            </div>
            
          </fieldset>  
          
        </div>
        
        <p>
          <a class="button" href="final-year" id="next">Next</a>
        </p>

      </form>
    </div>
    </div>
</main>

{% endblock %}

















