 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
      <div class="column-two-thirds">


      <header class="page-header">
          <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is</span>People who live with you</p>
          <h1 class="page-header--lede heading-large">Do you have any children living with you who you support financially?</h1>
        </header>



<p>They must be either:</p>
<ul class="list-bullet">
  <li>Under 16</li>
  <li>16 to 19 and in unpaid training or full-time education (studying for a qualification no higher than an A level or equivalent). <br>
 <!--   <span class="strong">Lindsay note:</span> *No higher than A-level or equiv. like level 4 NVQs or a degree* --></li>
</ul>
<br>
  <form>

       <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
              Do you live with a partner?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="children" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="children" value="no">
              <label for="no">No</label>
            </div>
            
          </fieldset>  
          
        </div>
        
        <p>
          <a class="button" href="live_who-recap-student" id="next">Next</a>
        </p>


      </form>
    </div>
    </div>
</main>

{% endblock %}







