 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">

                        <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Save your details</p>
                 {% if thirdparty %}
                <h1 class="page-header--lede heading-large">Does {{firstname}}'s Universal Credit include a payment for any of these?</h1>
                {% else %}
                <h1 class="page-header--lede heading-large">Create a memorable word</h1>
                 {% endif %}
                  </header>



      <p>You will need your application number and a memorable word if you save your application and come back to it later.</p>

      <form action="" method="get" class="form">
        <div class="form-item-wrapper">
          <fieldset>
            <div class="form-group">
              <label class="form-label-bold" for="email-address">
                Memorable word
              </label>
              <input type="text" id="email-address" class="form-control">
            </div>
          </fieldset>
        </div>
                    <p>
          <a class="button" href="save-info" id="next">Next</a>
        </p>

      </form>

    </div>

  </div>

</main>

{% endblock %}
