 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

                    <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Save your details</p>
                 {% if thirdparty %}
                <h1 class="page-header--lede heading-large">Does {{firstname}}'s Universal Credit include a payment for any of these?</h1>
                {% else %}
                <h1 class="page-header--lede heading-large">Your application number is</h1>
                 {% endif %}
                  </header>

  

      <div class="panel panel-border-wide claim-ref">
        <h1 class="heading-xlarge">k5gn v78j</h1>
      </div>

      <p>You will need this number if you save your application and come back to it later. </p>

<!--       <p><a href="">Print this page</a></p> -->

      <!-- <form method="get" action="../preapp/save-return-email-correct" class="form">
<p>We will email a copy of your application number.</p>
        <div class="form-item-wrapper">
          <fieldset>
            <div class="form-group">
            <label class="form-label-bold" for="user_email" >Email address (optional)</label>
            <input class="form-control form-control-3-4" id="user_email" name="user_email" type="text" value="{{data['user_email']}}">
          </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form> -->

              <p>
          <a class="button" href="mem-word" id="next">Next</a>
        </p>

    </div>

  </div>

</main>

{% endblock %}
