  {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">


                   <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Save your details</p>
  
            <h1 class="page-header--lede heading-large">You can return to this application anytime in the next 7 days to complete it</h1>
            </header>

<p>You will need your application reference number and your memorable word, as you'll be asked for them if you need to return to this appliaction.</p>

        
        <p>
          <a class="button" href="../task-list/task-list_1" id="next">Next</a>
        </p>

      </form>
    </div>
    </div>
</main>

{% endblock %}

















