 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
    You have signed out
  </h1>
  <p>Your details will be kept for xx months.</p>

  <form action="" method="get" class="form">

            <p>
          <a class="button" href="#" id="next">Apply now</a>
        </p>

  </form>
    </div>
    </div>
</main>

{% endblock %}
