 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
            <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Contact details</p>
             {% if thirdparty %}
            <h1 class="page-header--lede heading-large">What is {{firstname}}'s email address?</h1>
            {% else %}
            <h1 class="page-header--lede heading-large">What is your email address?</h1>
             {% endif %}
            </header>

  <p>We'll only contact you about this application.</p>

<form method="get" action="about-you-summary" class="form">

      <form>
        <legend class="visuallyhidden">What’s your email address?</legend>



          <div class="form-group">
            <label class="form-label-bold" for="user_email" >Email address</label>
            <input class="form-control form-control-3-4" id="user_email" name="user_email" type="text" value="{{data['user_email']}}">
          </div>


  <a class="summary" href="about-you-summary">I don't have an email address</a>

<br><br>

        <div class="form-group">
          <input type="submit" class="button" value="Next" />
        </div>

      </form>

<!--         <p class="navigation"><a class="cancel" href="start">Cancel</a></p> -->


      
    </div>
    
  </div>
  
</main>

{% endblock %}
