 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">


     <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Income and other money</p>
                 {% if thirdparty %}
                <h1 class="page-header--lede heading-large">What income does {{firstname}} get?</h1>
                {% else %}
                <h1 class="page-header--lede heading-large">How are you paying for things at the moment?</h1>
                 {% endif %}
            </header>

  <form>

  <p style="color:grey">Select all that apply</p>
      
      <form class="form" action="contact-handler" id="contact-boxes">
        <fieldset class="form-group">
          <legend class="visually-hidden">
            How should we contact you if we need to?
          </legend>
          <div class="multiple-choice multiple-radio">
            <input id="wages" name="incometype" value="earned-income" type="checkbox">
            <label for="wages">Money from friends or family</label>
          </div>
          <div class="multiple-choice multiple-radio">
            <input id="benefits" name="incometype" value="benefits-income" type="checkbox">
            <label for="benefits">Using savings</label>
          </div>
          <div class="multiple-choice multiple-radio">
            <input id="benefits" name="incometype" value="benefits-income" type="checkbox">
            <label for="benefits">Donations from charity or voluntary organisations</label>
          </div>

          <p class="form-block">or</p>
                  <div class="multiple-choice multiple-radio">
            <input id="none" name="incometype" value="no-income" type="checkbox">
            <label for="none">None of these</label>
          </div>

        </fieldset>


        <p>
          <a class="button " href="/apply/design-sprints/sprint21/check-list_couple-personal" id="next">Next</a>
        </p>

   <!--  <p class="navigation"><a class="cancel" href="../lis-check-list">Save and come back later</a></p> -->

    </div>
    </div>
</main>

{% endblock %}
